<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1044747720663-qa50qe2oscpdptlq2g2lel81jg648cua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044747720663-qa50qe2oscpdptlq2g2lel81jg648cua</string>
	<key>API_KEY</key>
	<string>AIzaSyAkhJfl2KlY-jiF6KFKMMKuOYfPrO56zdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1044747720663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainants.attendence</string>
	<key>PROJECT_ID</key>
	<string>attendence-system-43799</string>
	<key>STORAGE_BUCKET</key>
	<string>attendence-system-43799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044747720663:ios:c04e14a8078d6fdc</string>
	<key>DATABASE_URL</key>
	<string>https://attendence-system-43799.firebaseio.com</string>
</dict>
</plist>